.blockFields span {
    padding:0.5em;
}

.blockValues span {
  word-break: break-word;
}
.blockHeight {
  width: 10em;
}

.version {
  color: red;
}
.prevBlockHash {
  color: orange
}
.merkleRoot {
  color: rgb(224, 224, 70);
}
.timestamp {
  color: green;
}
.target {
  color: blue;
}
.nonce {
  color: indigo;
}