
.program {
    /* display: block; */
    color: black;
    margin-bottom: 1em;
    max-width: 28em;
}
.op {
    margin-left: 1em;
    padding: 0.1em;
    /* border: 0.5px black solid; */
}

.current {
    background: rgb(122, 243, 122);
}

