.stack {
    color: black;
    margin-bottom: 1em;
    max-width: 28em;
    z-index: -1;

}
.item {
    margin: 1em;
    /* border: 0.1em black solid; */
    padding: 0.1em;
    display: block;

    background: pink;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    z-index: 1;
}

.holder {
    border: 10px solid lightblue;
    height: 200px;
    width: 500px;
    position:relative;
    margin:10px;
    border-radius: 10px;
    z-index: -12;

    display: flex;
    flex-direction: column-reverse;
}

.mask {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 500px;
    height: 75%;
    background-color:#fff;
    z-index: -1;
}

.arrival-enter {
    opacity: 0.01;
  }
  
.arrival-enter.arrival-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.arrival-leave {
    opacity: 1;
}

.arrival-leave.arrival-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}