.transactionFields span {
    padding:0.5em;
}

.txidForm {
  padding-left: 1em;
  padding-right: 1em;
}


.version {
    color: red;
  }
  .inputs {
    color: orange
  }
  .outputs {
    color: rgb(224, 224, 70);
  }
  .locktime {
    color: green;
  }